
.navbar {
    margin-bottom: 30px;
  }

.clickable{
    cursor: pointer;
  }

  .align-self-start {
    height: 20rem;  
  }
  
  .card {
    width: 16rem;  
  }
  
  .card-img-top {
    width: 15rem;
  }
  

.align-self-start {
  height: 20rem;  
}

.card {
  width: 16rem;  
}

.card-img-top {
  width: 15rem;
}


